body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

a {
  text-decoration: none;
}
/*стили для шапки*/
.main-navigation{
  display:flex;
  align-items: center;
}
.site-navigation a,
.basket a{
  display: inline-block;
  vertical-align: top;
	color:#000000;
}
.site-navigation{
  display: flex;
  flex-wrap:wrap;
  padding:0px;
  width: 640px;
  justify-content: center;
	list-style: none;
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
  text-transform: uppercase;
}
.site-navigation li:not(:last-child){
  margin-right: 30px;
}
.basket{
  padding: 0;
  padding-left:45px;
  margin-left: auto;
  list-style: none;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}
.header-logo{
  display:inline-block;
  margin-right: 100px;

}
.site-navigation a:hover,
.site-navigation a:focus,
.basket a:hover,
.basket a:focus{
	color:#fb565a;
}
/* end стили для шапки*/
/*Стили для слайдера*/
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.main-header {
  background-color: #eeeeee;
}

.slider {
  position: relative;
  
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  
  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  
  width: 18px;
  height: 18px;
  
  background: #ffffff;
  
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.button {
  display:inline-block;
  width: 240px;
  padding: 13px 10px;
  
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
/*конец стилей для слайдера*/
/*style main*/
.products-wrapper{
  margin-top:80px;
}
.products-list{
  display:flex;
  justify-content: space-between;
	list-style:none;
	margin:0;
	padding: 0;
}
.products-list h2{
  margin-top:0px;
  margin-bottom: 0px;
	font-size:24px;
	line-height: 30px;
	font-weight: 700;
}
.products-list p{
  margin-top:27px;
	font-size:16px;
	line-height: 24px;
	font-weight: 400;
}
.products-item img{
  display:block;
  margin-bottom: 30px;
}
.item-red{
  width: 300px;
}
.item-green{
  width: 300px;
}
.item-yellow{
  width:300px;
}
.button-red{
  width: 140px;
}
.button-green{
  width: 140px;
	background-color: #00ca74;
}
.button-green:hover,
.button-green:focus{
	background-color: #00bc6c;
}
.button-yellow{
  width: 140px;
	background-color: #efc84a;
}
.button-yellow:hover,
.button-yellow:focus{
	background-color: #eab534;
}
.companies-image{
  list-style: none;
}
.htmlacademy {
  background-image: url(../img/logo-html.svg);
  background-repeat: no-repeat;
  opacity: 0.2;
  font-size: 0;
}
.htmlacademy a:hover,
.htmlacademy a:focus{
  opacity: 1;
}
.barber{
  background-image: url(../img/Logo-barber.svg);
  background-repeat: no-repeat;
  opacity: 0.2;
  font-size: 0;
}
.pink{
  background-image: url(../img/logo-pink.svg);
  background-repeat: no-repeat;
  opacity: 0.2;
  font-size: 0;
}
.mishka{
  background-image: url(../img/logo-mishka.svg);
  background-repeat: no-repeat;
  opacity: 0.2;
  font-size: 0;
}
.companies-image{
  display: inline-flex;
  flex-wrap: nowrap;
  margin-right: 100px;
  width: 199px;
  height: 68px;
}

.about-us-columns{
  display: flex;
  justify-content: space-between;
  margin-top:166px;
}
.about-us{
  width:650px;
}
.about-us-table{
  width:360px;
}
.about-us-table img{
  margin-bottom: 40px;
}
.about-us-header{
  margin:0;
  font-family: Roboto;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}
.list-header {
  font-weight: 700;
  text-transform: uppercase;
}
.about-us-table p{
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin:0;
  margin-bottom: 50px;
}
.table th{
	font-size: 45px;
	font-weight: 700;
	line-height: 10px;
}
.table td{
  padding-top: 27px;
  padding-right: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}





.map-wrapper{
  position: relative;
  overflow: hidden;
  height: 420px;
  width:100%;
}
.map-image{
  position:absolute;
  top:50%;
  width: 100%;
  height: auto;
  transform: translateY(-50%);
}
/*end style main*/
.main-footer-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-list{
  list-style: none;
  display: flex;
  flex-direction: row;
}
.social{
  display: inline-block;
  width:79px;
  height:79px;
  background-color:#e1e1e1;
  margin-right:12px;
  border-radius:50%;
}
.footer-text{
}
.social:hover,
.social:focus{
  background-color: #e74246;
}
.social-vk{
  background-image:url(../img/vk-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.social-fb{
  background-image:url(../img/fb-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.social-inst{
  background-image:url(../img/insta-icon.svg);
  background-repeat: no-repeat;
  background-position: center;  
}



.about-us-form{
  display: none;
}
.number-phone{
  color:#000000;
}
.footer-header{
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  margin:0;
}
.footer-message{
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin:0;
}
/*style catalog*/
.catalog-header{
  text-align: center;
}
.catalog-list{
  list-style: none;
}

.catalog-wrapper{
  display: flex;
}
.catalog-items:hover .shop{
  display:block;
}
.shop {
  display:none;
}
/*стили для переключателя страниц*/
.paginator {

  white-space: nowrap;
}

.paginator a,
.paginator span {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  padding: 0 10px;

  font-weight: 500;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  color: #000000;

  background-color: #eeeeee;
}
.paginator .choose {
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}
.paginator a:hover,
.paginator span:hover,
.paginator a:focus,
.paginator span:focus{
  background-color: #dfdfdf;
}
/**/
/*маркер карты*/
.pin {
  position: absolute;
  top: 85px;
  left: 725px;
  width: 230px;
  height: 190px;
  background-image: url(../img/map-marker.png);
  background-repeat: no-repeat;
  font-size: 0;
}
/**/